.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto;
}

.Buttons {
    display: flex;
    gap: 8px;
}

.divider24 {
    height: 24px; 
    width: 100% ;
}

.Customer {
    text-align: center;
}

.Icon {
    cursor: pointer;
}